@import url("./variables.scss");

.header-container {
  position: relative;
  .header {
    .profile {
      margin: 16px;
      background-color: wheat;
      border-radius: 100%;
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      display: flex;
      &__gap {
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: var(--white-bg);
        border-radius: 100%;
        width: 68px;
        height: 68px;
      }
      &__picture {
        border-radius: 100%;
        background-color: white;
        width: 64px;
        height: 64px;
      }
    }
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }
}
